# Server
PORT=3000
NODE_ENV=development

# Database (NeonDB / Supabase / ElephantSQL connection string)
DATABASE_URL= //neondb_owner:npg_Y3PGL4ToykaX@ep-late-mud-ao2e3mnb-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# JWT
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d

# CORS
ALLOWED_ORIGINS=http://localhost:3000
